<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-horizontal" novalidate>
  <div class="card">
    <div class="card-header">
      <h3>Create Employee</h3>
    </div>
    <div class="card-body">

      <!-- Full Name -->
      <div class="form-group ">
        <label for="fullName" class="col-sm-2 control-label">Full Name</label>
        <div class="col-sm-8">
          <input formControlName="fullName" id="fullName" type="text" class="form-control" (blur)="logValidationErrors()"
            [class.is-invalid]="formErrors.fullName">
          <span class="invalid-feedback">
            {{formErrors.fullName}}
          </span>
        </div>
      </div>

      <!-- Contact Preference -->
      <div class="form-group  form-inline">
        <div class="col-sm-2">
          <label>Contact Preference</label>
        </div>
        <div class="col-sm-8">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" value="email" formControlName="contactPreference">Email
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" value="phone" formControlName="contactPreference">Phone
            </label>
          </div>
        </div>
      </div>

      <div formGroupName="emailGroup">
        <!-- Email -->
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-8">
            <input formControlName="email" id=email type="text" class="form-control" (blur)="logValidationErrors()"
              [class.is-invalid]="formErrors.email">
            <span class="invalid-feedback">
              {{formErrors.email}}
            </span>
          </div>
        </div>
        <!-- Confirm Email -->
        <div class="form-group">
          <label for="confirmEmail" class="col-sm-2 control-label">Confirm Email</label>
          <div class="col-sm-8">
            <input formControlName="confirmEmail" id=confirmEmail type="text" class="form-control" (blur)="logValidationErrors()"
              [class.is-invalid]="formErrors.confirmEmail || formErrors.emailGroup">
            <span class="invalid-feedback">
              {{formErrors.confirmEmail ? formErrors.confirmEmail : formErrors.emailGroup}}
            </span>
          </div>
        </div>
      </div>

      <!-- Phone -->
      <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-8">
          <input formControlName="phone" id=phone type="text" class="form-control" (blur)="logValidationErrors()"
            [class.is-invalid]="formErrors.phone">
          <span class="invalid-feedback">
            {{formErrors.phone}}
          </span>
        </div>
      </div>

      <!-- Skills -->
      <div style="background-color:aqua" class="col-md-offset-2 col-md-8">

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button [disabled]="employeeForm.get('skills').invalid" type="button" class="btn btn-primary" (click)='addSkillButtonClick()'>Add
              Skill</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button class="btn btn-primary" type="button">Todo</button>
          </div>
        </div>

        <div formArrayName="skills" *ngFor="let skill of employeeForm.get('skills').controls; let i = index">
          <hr *ngIf="i>0">
          <div [formGroupName]="i">
            <div class="form-row">
              <!-- Skills Name -->
              <div class="col-sm-3">
                <label [for]="'skillName'+i">Skills</label>
                <input [class.is-invalid]="skill.get('skillName').invalid && skill.get('skillName').touched" type="text"
                  [id]="'skillName'+i" placeholder="Skill name..." formControlName="skillName" class="form-control">
                <span class="invalid-feedback" *ngIf="skill.get('skillName').errors">
                  Skill name is required
                </span>
              </div>

              <!-- Experience in Years -->
              <div class="col-sm-3">
                <label [for]="'skillName'+i">Experience</label>
                <input [class.is-invalid]="skill.get('experienceInYears').invalid && skill.get('experienceInYears').touched"
                  type="text" [id]="'experienceInYears'+i" class="form-control" placeholder="Experience in years..."
                  formControlName="experienceInYears">
                <span class="invalid-feedback" *ngIf="skill.get('experienceInYears').errors">
                  Experience in years is required
                </span>
              </div>

              <!-- delete skill -->
              <div class="col-sm-6" *ngIf="employeeForm.get('skills').length > 1">
                  <label for="deleteSkill">&nbsp;</label>
                  <div class="col-sm-8">
                    <button (click)='removeSkillButtonClick(i)' title="Delete Skill" id="deleteSkill" type="button" class="btn btn-danger float-right"><i class="fa fa-times"></i></button>
                  </div>
                </div>
            </div>



            <!-- Proficiency -->
            <div class="custom-control-inline"><label [class.text-success]="skill.get('proficiency').valid"
                [class.text-danger]="skill.get('proficiency').invalid && skill.get('proficiency').touched">Proficiency</label></div>
            <!-- Beginner -->
            <div class="custom-control custom-radio custom-control-inline">
              <input [class.is-invalid]="skill.get('proficiency').invalid && skill.get('proficiency').touched" type="radio"
                [id]="'beginner'+i" value="beginner" formControlName="proficiency" class="custom-control-input">
              <label [for]="'beginner'+i" class="custom-control-label">Beginner</label>
            </div>
            <!-- Intermediate -->
            <div class="custom-control custom-radio custom-control-inline">
              <input [class.is-invalid]="skill.get('proficiency').invalid && skill.get('proficiency').touched" type="radio"
                [id]="'intermediate'+i" value="intermediate" formControlName="proficiency" class="custom-control-input">
              <label [for]="'intermediate'+i" class="custom-control-label">Intermediate</label>
            </div>
            <!-- Advanced -->
            <div class="custom-control custom-radio custom-control-inline">
              <input [class.is-invalid]="skill.get('proficiency').invalid && skill.get('proficiency').touched" type="radio"
                [id]="'advanced'+i" value="advanced" formControlName="proficiency" class="custom-control-input">
              <label [for]="'advanced'+i" class="custom-control-label">Advanced</label>
            </div>

            <br>
            <div *ngIf="skill.get('proficiency').invalid && skill.get('proficiency').touched">
              <span class="text-danger">Proficiency is required</span>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="card-footer">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button class="btn btn-primary" type="button" (click)='onLoadDataClick()'>Load Data</button>
        </div>
      </div>
    </div>
  </div>
</form>

<table border="1">
  <tr>
    <th style="padding:10px">FormGroup</th>
    <th style="padding:10px">FormControl (fullName)</th>
  </tr>
  <tr>
    <td style="padding:10px">touched: {{employeeForm.touched}}
      <br>dirty: {{employeeForm.dirty}}
      <br>valid: {{employeeForm.valid}}
      <br>value: {{employeeForm.value | json}}
    </td>
    <td style="padding:10px">touched: {{employeeForm.get('fullName').touched}}
      <br>dirty: {{employeeForm.get('fullName').dirty}}
      <br>valid: {{employeeForm.get('fullName').valid}}
      <br>value: {{employeeForm.get('fullName').value | json}}
    </td>

  </tr>
</table>